<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
		<meta name="description" content="">
		<meta name="author" content="">
		<link rel="icon" href="../../favicon.ico">

		<title>Smart Sole</title>

		<!-- Bootstrap core CSS -->
		<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/bootstrap.css') }}">

		<!-- Custom styles for this template -->
		<link href="{{ url_for('static', filename='bootstrap/justified-nav.css') }}" rel="stylesheet">
		{% block additional_css %}
		{% endblock %}
	</head>

 	<body>
 		<div class="container">
	 		<p class="navbar-right">
				{% if name %}
		       		Hello, <a href="/users/{{ username }}" class="navbar-link">{{ name }}</a> | <a href="/logout">Logout</a>
				{% else %}
				  	<a href="/login">Login</a> | <a href="/register">Register</a>
				{% endif %}
			</p>
		</div>
		
		<div class="container-fluid" style="background-color: #0099FF;">
			<div class="container">
				<div class="row">
				 	<!-- The justified navigation menu is meant for single line per list item.
					   Multiple lines will require custom code not provided by Bootstrap. -->
					<div class="col-sm-4">
						<h2 class="brand-name">Smart Sole</h2>
					</div>
					<div class="col-sm-8">
						<nav>
					  		<ul class="nav nav-justified">
								<li><a href="/index">Home</a></li>
								<li><a href="#">Instructions</a></li>
								<li><a href="#">Services</a></li>
								<li><a href="/project">The Project</a></li>
					  		</ul>
						</nav>
					</div>
			  	</div>
			</div>
	  	</div> <!-- /container -->
	  	<br>

	  	{% block content %}
		{% endblock %}

		<div class="container">
			<!-- Site footer -->
			<footer class="footer">
				<p>&copy; Company 2014</p>
			</footer>
		</div>
		

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<script src="{{ url_for('static', filename='bootstrap/bootstrap.js') }}"></script>
		{% block additional_javascript %}
		{% endblock %}
  	</body>
</html>